*.aux
*.auxlock
*.bbl
*.blg
*.cpc
*.debug-extensions.json
*.dep
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.log
*.mat
*.markdown.in
*.nav
*.out
*.pdf
!**/img/*.pdf
*.pdf.txt
!**/expected/*.pdf.txt
*.pdfsync
*.pytxcode
*.snm
*.spl
*.toc
*.vrb
*.xsim
.ipynb_checkpoints
.virtual_documents
_markdown_*
notebooks-*
pythontex-files-*
xsim-files-*
